<!DOCTYPE html>
<html lang="en" class="full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--<link href="http://localhost:5000/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Perfarts | About</title>

</head>

<body>

    <header class="dark shadow" style="width: 100%;  ">
        <div class="container navigation-container">
            <div class="logo-div">

                <div class="logo ">
                    <span class="dark light" style="display: inline-block; padding: 0 12px ">Perf</span><span class="primary">Arts</span>
                </div>

            </div>
            <nav class="navbar" id="navigation">
                <ul class="unstyled">
                    <li class="nav-item" ><a  id="link1" href="/" class="link">Home</a></li>
                    <li class="nav-item"><a id="link2" href="#services" class="link">Services</a></li>
                    <li class="nav-item"><a id="link3" href="/about" class="link  active">About us</a></li>
                    <li class="nav-item"><a id="link4" href="#contact" class="link">Contact us</a></li>
                </ul>
            </nav>
            <a id="toggle" href="#" class="btn link light" style="background: none; border:none">
                <i class="fas fa-bars"></i>
            </a>
        </div>

    </header>




    <div class="content" style="margin: 3rem 0 ">
        <div class="container">
            <div class="heading center" style="justify-content: space-between">
                <h2 class="heading primary">Photography School</h2>
                <a href="#enrol" class="btn btn-primary shadow-sm">
                    Enrol
                </a>
            </div>


            <div class="about-us">
                <p id="intro">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                </p>
                <p id="other-things">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                </p>
                <p id="my-dear-god">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque
                </p>
            </div>
        </div>
    </div>
    <footer class="dark text-white" style="padding: 60px 30px">
        <div class="container">
            <div  class="center" style="justify-content: space-around">
                <div class="logo-div" id="contact">

                    <div class="logo ">
                        <span class="dark light" style="display: inline-block; padding: 0 12px ">Perf</span><span class="primary">Arts</span>
                    </div>
                    <p id="info-address">
                        Some Bogus Location that
                        identifies service's location
                    </p>
                    <p id="info-mail">
                        <a href="mailto:someone@example.com" class="link light"> Mail us <i class="fas fa-at"></i> service.name@domain.com</a>
                    </p>

                </div>
                <nav >
                    <ul class="unstyled">
                        <li class="nav-item"><a href="/" class="link light">Quick Links</a></li>
                        <li class="nav-item"><a href="#services" class="link light">Photography School</a></li>
                        <li class="nav-item"><a href="/about" class="link light">Dance School</a></li>
                        <li class="nav-item"><a href="#contact" class="link light">Film School</a></li>
                    </ul>
                </nav>
            </div>
            <div class="social center" style="width: 60%; margin: 0 auto; justify-content: space-evenly">
                <a href="% facebook_link%" class="link primary">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="%twitter_link%" class="link primary">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="%ig_link%" class="link primary">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
    </footer>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script>
      let toggle = $("#toggle");
      let nav = $("#navigation");
      toggle.click(() => {
        toggle.toggleClass('active')
        nav.toggleClass('visible')
      })
      nav.click((e) => {
        if(e.target.id) {
          toggle.toggleClass('active')
          nav.toggleClass('visible')

        }
      })
    </script>
<script type="text/javascript" src="about.js"></script></body>

</html>