<!DOCTYPE html>

<html lang="en" class="full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
        <!--<link href="http://localhost:5000/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

    <title>Fifton | Home</title>
 
</head>

<body>




  <header class=" top-left" style="width: 100%">
    <div class="container navigation-container">
        <div class="logo-div">

            <div class="logo ">
                <span class="dark light" style="display: inline-block; padding: 0 12px ">Fifton</span><span class="primary">Academy</span>
            </div>

        </div>
        <nav class="navbar" id="navigation">
            <ul class="unstyled">
                <li class="nav-item" ><a  id="link1" href="/" class="link active">Home</a></li>
                <li class="nav-item"><a id="link2" href="#services" class="link">Services</a></li>
                <li class="nav-item"><a id="link3" href="/about" class="link">About us</a></li>
                <li class="nav-item"><a id="link4" href="#contact" class="link">Contact us</a></li>
            </ul>
        </nav>
        <a id="toggle" href="#" class="btn link light" style="background: none; border:none">
            <i class="fas fa-bars"></i>
        </a>
    </div>
    
</header>





<div class="content flex full">
    <div class="haf" id="bg-image">

    </div>
    <div class="haf center " id="intro">
        <div class="interaction" style="width: 80%">
          
                <p class="primary large-text">
                        Some Bogus Text about Fifton Academy and stuff
                </p>
     
            <p class="small-text" style="width: 90%;">
                Other lowkey stuff about things that address the service offered. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at odit asperiores harum ipsa. Odit consequatur, deserunt omnis ex delectus, nemo, illum officia corrupti reprehenderit excepturi saepe pariatur sequi. Voluptate!
            </p>
            <div class="button-div">
                <button class="btn btn-primary shadow-sm">
                    Login
                </button>
                <a href="#services" class="link btn">Get Started</a>
            </div>
        </div>
    </div>
</div>



<div class="services-div" >
    <div class="container">
            <h2 class="heading primary">Heading</h2>

           <div class="card-column flex" id="services">
                <div class="card shadow" id="camera">

                    <img class="card-img-top" src="87aeea60d65e9832ba12898fca2618b7.jpg">
                  <div class="card-body ">
                    <h4 class="card-title">Photography School</h4>
                    <p class="card-text">
                        some lowkey info about the service and introductory stuff. Come to our photography school and learn the skills that have made photography great
                    </p>
                  </div>
                    <div class="card-footer" style="text-align: right; padding: 0 1rem 0">
                        <a href="photo.html" class="btn btn-primary shadow-sm">
                           More
                        </a>
                    </div>
                </div>

                <div class="card shadow" id="dance">

                         <img class="card-img-top" src="75c1aa75c812ae82915ab5befd831435.jpg">
                        <div class="card-body">
                          <h4 class="card-title">Dance School</h4>
                            <p class="card-text">
                                some lowkey info about the service and introductory stuff. Come to our photography school and learn the skills that have made photography great
                            </p>


                        </div>
                        <div class="card-footer" style="text-align: right; padding: 0 1rem 0">
                            <a href="photo.html" class="btn btn-primary shadow-sm">
                                More
                            </a>
                        </div>
                      </div>

                      <div class="card shadow" id="film">

                          <img class="card-img-top" src="be69607ed1eda954bedb0386ff098827.jpg">
                            <div class="card-body">
                              <h4 class="card-title">Film School</h4>
                                <p class="card-text">
                                    some lowkey info about the service and introductory stuff. Come to our photography school and learn the skills that have made photography great
                                </p>
                            </div>
                          <div class="card-footer" style="text-align: right; padding: 0 1rem 0">
                              <a href="photo.html" class="btn btn-primary shadow-sm">
                                  More
                              </a>
                          </div>
                          </div>
            
            </div>


    </div>
    

    
</div>


<!--this part is optional-->
  <div class="review-div" style="margin: 0 0 3rem">

      <div class="container slideshow">
          <h2 class="heading primary" style="margin: 0rem 0 2rem 1rem">
              What People are saying
          </h2>
          <figure id="slideshow-figure" class="sliding-show">
              <div class="review">
                  <div class="card shadow">
                      <div class="card-body">
                          <p class="card-text">
                              "This is an optional review of the school
                              as a reviewer i think i rate my review very highly especially seeing as my review game is strong"
                          </p>

                      </div>
                      <div class="card-footer">
                          <span class="reviewer">Proud Reviewer</span> <small style="margin-left: 2rem" class="primary">
                          Location, Place
                      </small>
                      </div>
                  </div>
              </div>
              <div class="review">
                  <div class="card shadow">
                      <div class="card-body">
                          <p class="card-text">
                              "This is an optional review of the school
                              as a reviewer i think the first reviewer is full of his or herself "
                          </p>

                      </div>
                      <div class="card-footer">
                          <span class="reviewer">Salty Reviewer</span> <small style="margin-left: 2rem" class="primary">
                          Location, Place
                      </small>
                      </div>
                  </div>
              </div>
              <div class="review">
                  <div class="card shadow">
                      <div class="card-body">
                          <p class="card-text">
                              "This is an optional review of the school
                              as a reviewer i think i don't know what to say"
                          </p>

                      </div>
                      <div class="card-footer">
                          <span class="reviewer">Undecided Reviewer</span> <small style="margin-left: 2rem" class="primary">
                          Location, Salty Place
                      </small>
                      </div>
                  </div>
              </div>
          </figure>

      </div>
  </div>
<footer class="dark text-white" style="padding: 60px 30px">
<div class="container">
    <div  class="center" style="justify-content: space-around">
            <div class="logo-div" id="contact">

                <div class="logo ">
                    <span class="dark light" style="display: inline-block; padding: 0 12px ">Fifton</span><span class="primary">Academy</span>
                </div>
                <p id="info-address">
                    Some Bogus Location that
                    identifies service's location
                </p>
                <p id="info-mail">
                  <a href="mailto:someone@example.com" class="link light"> Mail us <i class="fas fa-at"></i> service.name@domain.com</a>
                </p>
                <!--<div class="info-numbers center">-->
                    <!--<ul class="unstyled">-->
                        <!--<li class="item"><a class="link" href="tel:+123456789">+23408077886</a></li>-->
                        <!--<li class="item"><a class="link" href="tel:+123456789">+23408077886</a></li>-->
                        <!--<li class="item"><a class="link" href="tel:+123456789">+23408077886</a></li>-->
                    <!--</ul>-->

                <!--</div>-->
            </div>
            <nav >
                <ul class="unstyled">
                    <li class="nav-item"><a href="/" class="link light">Quick Links</a></li>
                    <li class="nav-item"><a href="#services" class="link light">Photography School</a></li>
                    <li class="nav-item"><a href="/about" class="link light">Dance School</a></li>
                    <li class="nav-item"><a href="#contact" class="link light">Film School</a></li>
                </ul>
            </nav>
    </div>
    <div class="social center" style="width: 60%; margin: 0 auto; justify-content: space-evenly">
        <a href="% facebook_link%" class="link primary">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="%twitter_link%" class="link primary">
            <i class="fab fa-twitter-square"></i>
        </a>
        <a href="%ig_link%" class="link primary">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
</div>
</footer>

  <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
  <script>
    let toggle = $("#toggle");
    let nav = $("#navigation");
    toggle.click(() => {
      toggle.toggleClass('active')
      nav.toggleClass('visible')
    })
      nav.click((e) => {
        if(e.target.id) {
          toggle.toggleClass('active')
          nav.toggleClass('visible')

        }
      })
  </script>
<script type="text/javascript" src="index.js"></script></body>

</html>
