{% extends 'temp/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}
<div class="content flex full">
    <!-- <div class="haf" id="bg-image">

    </div> -->
    <div id="bg-image" class ="haf" style="background-image: url('{% static 'images/08163e343c7c639b173b63f61c401d1c.jpg/' %}">
      
    </div>
    <div class="haf center " id="intro">
        <div class="interaction" style="width: 80%">
          
                <p class="primary large-text">
                        Some Bogus Text about Fifton Academy and stuff
                </p>
     
            <p class="small-text" style="width: 90%;">
                Other lowkey stuff about things that address the service offered. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus at odit asperiores harum ipsa. Odit consequatur, deserunt omnis ex delectus, nemo, illum officia corrupti reprehenderit excepturi saepe pariatur sequi. Voluptate!
            </p>
            <div class="button-div">
                <button class="btn btn-primary shadow-sm">
                    Login
                </button>
                <a href="#services" class="link btn">Get Started</a>
            </div>
        </div>
    </div>
</div>



<div class="services-div" >
    <div class="container">
            <h2 class="heading primary">Heading</h2>

           <div class="card-column flex" id="services">
                <div class="card shadow" id="camera">

                    <img class="card-img-top" src="{% static 'images/87aeea60d65e9832ba12898fca2618b7.jpg' %}">
                  <div class="card-body ">
                    <h4 class="card-title">Photography School</h4>
                    <p class="card-text">
                        some lowkey info about the service and introductory stuff. Come to our photography school and learn the skills that have made photography great
                    </p>
                  </div>
                    <div class="card-footer" style="text-align: right; padding: 0 1rem 0">
                        <a href="photo.html" class="btn btn-primary shadow-sm">
                           More
                        </a>
                    </div>
                </div>

                <div class="card shadow" id="dance">

                         <img class="card-img-top" src="{% static 'images/75c1aa75c812ae82915ab5befd831435.jpg' %}">
                        <div class="card-body">
                          <h4 class="card-title">Dance School</h4>
                            <p class="card-text">
                                some lowkey info about the service and introductory stuff. Come to our photography school and learn the skills that have made photography great
                            </p>


                        </div>
                        <div class="card-footer" style="text-align: right; padding: 0 1rem 0">
                            <a href="photo.html" class="btn btn-primary shadow-sm">
                                More
                            </a>
                        </div>
                      </div>

                      <div class="card shadow" id="film">

                          <img class="card-img-top" src="{% static 'images/be69607ed1eda954bedb0386ff098827.jpg' %}">
                            <div class="card-body">
                              <h4 class="card-title">Film School</h4>
                                <p class="card-text">
                                    some lowkey info about the service and introductory stuff. Come to our photography school and learn the skills that have made photography great
                                </p>
                            </div>
                          <div class="card-footer" style="text-align: right; padding: 0 1rem 0">
                              <a href="photo.html" class="btn btn-primary shadow-sm">
                                  More
                              </a>
                          </div>
                          </div>
            
            </div>


    </div>
    

    
</div>


<!--this part is optional-->
  <div class="review-div" style="margin: 0 0 3rem">

      <div class="container slideshow">
          <h2 class="heading primary" style="margin: 0rem 0 2rem 1rem">
              What People are saying
          </h2>
          <figure id="slideshow-figure" class="sliding-show">
              <div class="review">
                  <div class="card shadow">
                      <div class="card-body">
                          <p class="card-text">
                              "This is an optional review of the school
                              as a reviewer i think i rate my review very highly especially seeing as my review game is strong"
                          </p>

                      </div>
                      <div class="card-footer">
                          <span class="reviewer">Proud Reviewer</span> <small style="margin-left: 2rem" class="primary">
                          Location, Place
                      </small>
                      </div>
                  </div>
              </div>
              <div class="review">
                  <div class="card shadow">
                      <div class="card-body">
                          <p class="card-text">
                              "This is an optional review of the school
                              as a reviewer i think the first reviewer is full of his or herself "
                          </p>

                      </div>
                      <div class="card-footer">
                          <span class="reviewer">Salty Reviewer</span> <small style="margin-left: 2rem" class="primary">
                          Location, Place
                      </small>
                      </div>
                  </div>
              </div>
              <div class="review">
                  <div class="card shadow">
                      <div class="card-body">
                          <p class="card-text">
                              "This is an optional review of the school
                              as a reviewer i think i don't know what to say"
                          </p>

                      </div>
                      <div class="card-footer">
                          <span class="reviewer">Undecided Reviewer</span> <small style="margin-left: 2rem" class="primary">
                          Location, Salty Place
                      </small>
                      </div>
                  </div>
              </div>
          </figure>

      </div>
  </div>
{% endblock %}